---
version: '3.1'

services:
  odoo:
    container_name: odoo
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=sdodoo
      - DATABASE=postgres
    networks:
      - prod-network

  db:
    container_name: db
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=sdodoo
      - POSTGRES_USER=odoo
    volumes:
      - /var/lib/docker/volumes/prod-vol/_data:/var/lib/postgresql/data
    networks:
      - prod-network
networks:
  prod-network:
    external: true
